/* padding sectiobn */

.pt,
.py-10 {
    padding-top: 6rem !important;
}

.pb,
.py-10 {
    padding-bottom: 6rem !important;
}


/* horizontal row area */

hr {
    width: 75px;
    height: 2px;
    background-color: black;
    text-align: center;
}

.underline {
    width: 70px;
    height: 3px;
    background-color: black;
}


/* icon size */

i {
    font-size: 35px;
}


/* ==============================================
              bootstrap modifications             
==================================================*/


/* do something */